/* =====================FUENTES=========================== */
@font-face {
    font-family: "pixel";
    src: url(../fonts/Pixellari.ttf);
}

/* ====================VARIABLES========================== */
:root {
    --gray: rgb(103, 103, 103);
    --border: 4px rgb(79, 79, 79) solid;
    --font_sz: 2rem;
}

/* ======================BODY============================ */

p {
    margin: 0;
}

body {
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 160, 160);
    background-image: url("../media/img/fondos/login.png");
    background-size: 100vw;
    background-size: 100vh;
    color: rgb(103, 103, 103);
}

/* ===================CONTAINER========================= */

a {
    text-decoration: none;
    font-size: 0.6em;
    padding: 0.5em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 100%;
    width: 50%;
    font-size: 1.5em;
}

.title {
    position: relative;
    text-align: center;
    color: var(--gray);
    background-color: rgb(209, 203, 154);
    padding: 0.6em;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    font-size: 2em;
    font-family: 'pixel';
}

.texto-plano {
    position: relative;
    text-align: center;
    color: rgb(209, 203, 154);
    background-color: rgba(66, 66, 66, 0.8);
    padding: 1em;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    font-size: var(--font_sz);
    font-family: 'pixel';
}

.input {
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgb(209, 203, 154);
    font-family: 'pixel';
    font-size: 0.6em;
    border: 0;
    color: var(--gray);
}

#sel-c {
    color: rgb(163, 162, 162);
}

.input:hover {
    opacity: 80%;
}

/* ==================VARIACIONES======================== */
/* -----------HALCONES------------ */
#halcones {
    background-color: #524542;
    color: rgb(207, 207, 207);
}

#halcones-b {
    background-image: url("../media/img/fondos/halcones.png");
}

#halcones-t {
    background-color: rgba(156, 156, 156, 0.6);
    color: #524542;
}

/* ---------TEPORINGOS---------- */

#teporingos {
    background-color: #4a5156;
    color: rgb(207, 207, 207);
}

#teporingos-b {
    background-image: url("../media/img/fondos/teporingos.png");
}

#teporingos-t {
    background-color: rgba(198, 198, 198, 0.4);
    color: #4a5156;
}

/* ----------AJOLOTES----------- */

#ajolotes {
    background-color: #ff92a4;
}

#ajolotes-b {
    background-image: url("../media/img/fondos/ajolotes.png");
}

#ajolotes-t {
    color: #ff92a4;
}