/* =====================FUENTES=========================== */
@font-face {
    font-family: "pixel";
    src: url(../fonts/Pixellari.ttf);
}

/* ====================VARIABLES========================== */
:root {
    --gray: rgb(103, 103, 103);
    --border: 4px rgb(79, 79, 79) solid;
    --font_sz: 1.5rem;
}

/* ======================BODY============================ */

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 160, 160);
    background-image: url("../media/img/fondos/login.png");
    /* background-image: url("../media/img/fondos/ajolotes.png"); */
    /* background-image: url("../media/img/fondos/teporingos.png"); */
    /* background-image: url("../media/img/fondos/halcones.png"); */
    background-size: 100vh;
    color: rgb(103, 103, 103);
}

/* ===================CONTAINER========================= */

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50%;
    border: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.title {
    border: 100%;
    position: relative;
    color: var(--gray);
    background-color: rgb(209, 203, 154);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 17%;
    width: 100%;
    padding: 0.6em;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    font-size: 2em;
    font-family: 'pixel';
}

.texto-plano {
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    font-size: var(--font_sz);
    padding: 2em;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

label,
select,
input {
    width: 100%;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #007BFF;
}

select,
input[type="text"] {
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"],
button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    border: 1px solid #007BFF;
}

th {
    background-color: #007BFF;
    color: #fff;
} */